<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <h1>Hello, Demo Page One!</h1>

    <!-- Home page anchor link -->
    <div>
        <a href="../index.html">Home Page</a>
    </div>

    <!-- Button for script test -->
    <div>
       <button id="alert-test">Test</button> 
    </div>
    
    <!-- Img test -->
    <div>
        <img src="../public/images/logo.png" alt="logo">
    </div>

    
    <script src="../public/js/script.js"></script>
</body>
</html>
